.canvasContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-canvas);
}

.canvasContainer.pickingMode {
  cursor: crosshair;
}

.canvasContainer canvas {
  display: block;
}
